header {
    display: flex;
    justify-content: center;
}
body{
    margin: 0;
    background-position: left top, right top;
    background-image: url(Background_obrazek/136756.jpg), url(/Background_obrazek/183976.jpg);
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    background-repeat: repeat-y;
}
html{
    scroll-behavior: smooth;
}

h1 {
    color: white;
    font-size: xx-large;
}
h2 {
    color: white;
    font-size: x-large;
}
p {
    font-size: x-large;
}
#text{
    flex-direction: column;
}
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 8%;
    background-color: black;
    height: 60px;
    border: 2px solid gold;
    border-radius: 20px;
    margin: 10px;
    font-size: x-large;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 60px;
    height: 30px;
    text-decoration: none;
    color:  red;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.fullpiece {
    display: flex;
    width: 1024px;
    justify-content: center;
    background-color: black;
    margin: 30px;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid gold;
}

.infozbrane {
    color: red;
    text-align: left;
    background-color: rgb(22, 20, 20);
    padding: 10px;
    border-radius: 20px;
}
img {
    width: 250px;
    height: 250px;
}

.weaponlore {
    padding: 10px;
    background-color: rgb(22, 20, 20);
    color: red;
    display: flex;
    gap: 36px;
    border-radius: 20px;
    display: flex;

    
}
footer p {
    margin: 20px;
}
.tabulka h1{
    margin: 10px
}
.tabulka h2{
    margin: 10px;
}

.Boss {
    padding: 10px;
    background-color: rgb(22, 20, 20);
    color: red;
    display: flex;
    gap: 36px;
    border-radius: 20px;
    display: flex;
}

.hunterset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
    background-color: rgb(22, 20, 20);
    color: red;
    border-radius: 20px;

}
.podhunter{
    display: flex;
    gap: 10px;
}
.podhunter img {
    width: 70px;
    height: 70px;
}

.lokace1 {
    padding: 10px;
    background-color: rgb(22, 20, 20);
    color: red;
    display: flex;
    gap: 36px;
    border-radius: 20px;
    display: flex;
}

.lokace img {
    height: 250px;
    width: 300px;
}
svg {
    fill: white;
    transition: ease 0.3s; 
}
.About {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
    border: 2px solid gold;
    margin: 30px;
    color: red;
    align-items: center;
    flex-direction: column;
}

.text1 {
    padding: 0px;
}

.telefonicislo {
    padding: 0px;
}

a :hover{
    fill: red;
}
@media screen and (max-width:1024px ) {
    .weaponlore{
        display: flex;
        flex-direction: column;
    }
    .lokace1{
        display: flex;
        flex-direction: column;
    }
    .Boss{
        display: flex;
        flex-direction: column;
    }
    .hunterset{
        justify-content: flex-start;
    }
    .fullpiece{
        width: 90%;

    }
}